#started {
  background: linear-gradient(rgba(21, 138, 115, 0.7), rgba(21, 138, 115, 0.7)),
    url("../../assets/cta-bg-small.jpg");
  position: relative;
  height: 33vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  z-index: 1000;
}

#started > div h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 35px;
}
#started > div a {
  border: 1px solid white;
  padding: 10px 40px;
}
