.hero {
  background: url("../../assets//background-hero.jpg") no-repeat center
    center/100%;
  background-color: rgba(0, 88, 132, 0.5);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  min-height: 91vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero img {
  width: 100px;
}

.hero_content {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero_content h1 {
  font-size: 42px;
  margin-top: 25px;
  font-weight: 500;
}

.heroPara {
  color: #fff;
  width: 540px;
  font-size: 14px;
  margin: -15px auto 20px;
}

.hero_content h1 span {
  font-weight: 700;
}

.hero_content h2 {
  font-size: 22px;
  font-weight: 500;
}

.hero_content ul {
  list-style: disc;
  margin-top: 10px;
  font-size: 17.5px;
  line-height: 28px;
  text-align: left;
}

.signup {
  background: #fff;
  width: 550px;
  border-radius: 3px;
  margin: 25px auto;
  text-align: left;
  padding: 20px 30px;
}

.signup > h2,
.signup > p {
  text-align: center;
}
.signup > h2 {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}

.signup > p {
  font-size: 14px;
}

.gender {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 5px;
}

.gender-box {
  text-align: center;
}

.custom-radio input {
  display: none;
}

.radio-btn {
  margin: 10px;
  width: 115px;
  height: 130px;
  border: 1px solid #c7c7c7;
  display: inline-block;
  border-radius: 4px;
  position: relative;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center center;
}

.male{
  background-image: url(../../assets/male-icon.svg);
}

.female{
  background-image: url(../../assets/female-icon.svg);
}

.radio-btn > img {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  left: -10px;
  transform: translateY(-50%);
  border-radius: 50px;
  padding: 3px;
  transition: 0.2s;
  pointer-events: none;
  background-color: #348c74;
  border: 1px solid #ddd;
  display: none;
  z-index: 100;
}
.radio-btn > .backOfCheck {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 20px;
  left: -9px;
  transform: translateY(-50%);
  border-radius: 50px;
  padding: 3px;
  pointer-events: none;
  background-color: white;
  border: 1px solid #ddd;
}

.radio-btn .gender-pic {
  max-width: 60px;
}

.custom-radio > input:checked + .radio-btn {
  background-color: #d7f1ec;
  border: 2px solid #348c74;
}

.custom-radio > input:checked + .radio-btn > img {
  display: block;
}
.custom-radio > input:checked + .radio-btn > .backOfCheck {
  display: none;
}

.dob > span {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 14px;
}
.dob-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  gap: 25px;
}

.dob select {
  padding: 17px 10px;
  width: 33%;
  border: 1px solid #dedede;
  border-radius: 4px;
  background: #fff;
}

.btn-pink {
  text-align: center;
  border-radius: 0.2em;
  box-sizing: border-box;
  box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
    inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
    inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
  display: inline-block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 16px;
  font-size: 22px;
  font-weight: 600;
}
.btn-pink {
  background-color: #df4f71;
  color: #fff !important;
  text-align: center;
}

.signup-notice {
  display: inline-block;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  width: 100%;
  margin: auto;
}

.inputBox {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.email {
  width: 100%;
  margin-bottom: 15px;
}
.email input {
  width: 100%;
  padding: 16px 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.names {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.names input {
  width: 100%;
  padding: 16px 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.selectOne {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 50px;
  font-size: 12px;
  justify-content: space-between;
  overflow: hidden;
}
.selectOne p {
  padding: 5px 10px;
  width: 100%;
}
.selectOne div {
  width: 25%;
  display: flex;
}

.selectOne div button {
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 16px;
}

.selectOne div .yes {
  border-radius: 50px 0 0 50px;
  border-left: none;
}
.selectOne div .no {
  border-radius: 0px 50px 50px 0px;
  border-left: none;
  border-right: none;
}
.selectOne div .yes.activeYes {
  background: #00a200;
  color: #fff;
}
.selectOne div .no.activeNo {
  background: #e20000;
  color: #fff;
}
.unsubscribe {
  text-align: center;
  font-size: 14px;
  color: #929292;
  font-style: italic;
}

.sbottom p {
  font-size: 14px;
  text-align: center;
  margin-bottom: 8px;
}
.signup2 h2 {
  margin-bottom: 20px;
}
.secondHome h1 {
  font-size: 30px;
  font-weight: 700;
}


@media screen and (max-width: 1000px) {
  .hero_content h1 {
    font-size: 28px;
  }
  .hero_content h2 {
    font-size: 16px;
  }
  .signup {
    width: 700px;
  }
}


@media screen and (max-width: 768px) {
  .dob select {
    font-size: 14px;
  }

  .hero_content{
    padding: 0 20px;
  }
  
.heroPara {
  color: #fff;
  width: auto;
  font-size: 14px;
  margin: -15px auto 20px;
}
  .hero_content h1 {
    font-size: 32px;
    margin-top: 25px;
    font-weight: 500;
  }
  .hero {
    background-image: linear-gradient(to bottom right, #147162, #2db39e);
    background-blend-mode: normal;
    background-color: none;
    min-height: 85vh;
  }
  .hero_content h1 {
    line-height: 30px;
    margin-bottom: 10px;
  }
  .hero_content ul {
    font-size: 14px;
    line-height: 22px;
  }
  .signup {
    width: 80vw;
  }
  .signup h2 {
    font-size: 20px;
  }
  .dob-inputs {
    gap: 15px;
  }
  .heroPara {
    color: #fff;
    max-width: 80%;
    font-size: 14px;
    margin: -15px auto 20px;
  }
  .radio-btn {
    margin: 10px;
    width: 90px;
    height: 100px;
  }

  .gender-box {
    margin-bottom: -10px;
  }

  .radio-btn .gender-pic {
    max-width: 50px;
  }
  .btn-pink {
    font-size: 18px;
  }
}

@media screen and (max-width: 500px) {
  .signup2, .signup {
    width: 96vw;
    padding: 10px;
  }
  
  .selectOne p {
    padding: 5px 10px;
    width: 100%;
    padding-right: 5px;
  }
  .selectOne div {
    width: 25%;
    display: flex;
  }

  .selectOne div button {
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 16px;
  }
}

@media screen and (max-width: 400px) {
  .signup, .signup2 {
    width: 100vw;
    padding: 10px;
  }
  .selectOne p {
    padding: 5px 25px 5px 20px;
    width: 100%;
    padding-right: 5px;
  }
  .selectOne div {
    width: 30%;
    display: flex;
  }
  .selectOne {
    min-width: 98%;
  }
}
